<div>
  <div id="title-1" class="title"><h1>Golden State Warriors Statistics</h1></div>
  <div id="menu-5" class="menu">
    <h1 style="font-size:40px;">Menu</h1>
    &nbsp;<a href="/" target="happy">Home</a>
    <br/>
    &nbsp;<a href="roster" target="happy">Roster</a>
    <br/>
  </div>
  <div id="content-2" class="content"><img src="/images/Logos.png" alt="Warriors Logo"/>
    <p></p>
  </div>
  <hr />
  <div id="footer-4" class="footer">{{> footer}}</div>
</div>
